
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a{
    color: blue;
}
.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav>li>a:hover{
    color: #31708f;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.open>a{
    color: #31708f;
}

body{
    background-color: #e5e5e5;
}
.header-user-avatar{
    width: 26px;
    height: 26px;
    border-radius: 50%;
}
.my-carousel{
    margin: -18px -15px;
}
.container{
    margin-top: 3px;
}
.main-menu ul li{
    float:left;
    height:50px;
    list-style-type:none;
    border-right:1px solid #245580;
    border-bottom:none;
    border-top:none;
}
.main-menu ul li>a>ul li{
    border-right: none;
}
.main-menu ul li:first-child{
    border-left:1px solid #245580;
}
.main-menu ul li:last-child{
    border-right:none;
}
#aboutAuthor{
    width: 240px;
    margin: -18px -60px -20px -0px;
    padding: -15px -60px -20px -0px;
}
#aboutAuthor .thumbnail{
    width: 100%;
    height: 475px;
}
.footer-bottom{
    background-color: #101010;
    color: white;
    text-align: center;
    height: 60px;
    margin: -15px -15px 0px -15px;
    padding-top: 20px
   
}
.footer-top{
    background-color: #122b40;
    color: #e5e5e5;
    margin: 1px -15px;
    padding: 5px 50px;
}
.footer-top section{
    display: inline-block;
    height: auto;
    width: 33%;
    padding-bottom: 15px;
    
}

